{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Posts
            <small>Lista de posts</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% include 'includes/messages.html.twig' %}
        <a href="{{ path('admin_post_form') }}" class="btn btn-success">
            <i class="fa fa-book"></i> Criar
        </a>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Descricao</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Açao</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.description }}</td>
                        <td>
                            <strong>{{ post.categoryCollection|join(', ') }}</strong>
                        </td>
                        <td>{{ post.createdAt|date('d/m/y H:i:s') }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('admin_post_update', {'id': post.id}) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{{ path('admin_post_delete', {'id': post.id}) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
